
table.mc-recipe,
table.mc-recipe td,
table.mc-tool,
table.mc-tool td { border: 0px; }
table.mc-recipe td { vertical-align: middle; }

table.mc-recipe {
    border: 2px solid;
    border-color: #DBDBDB #5B5B5B #5B5B5B #DBDBDB;
    background-color: #C6C6C6;
}

table.mc-input,
table.mc-output {
    border: none;
    border-collapse: separate;
    border-spacing: 5px;
}

table.mc-output td,
table.mc-input td {
        background: #8B8B8B no-repeat center center / 32px 32px;
        border: 2px solid;
        border-color: #373737 #FFF #FFF #373737;
	padding: 0px;
	min-width: 32px;
	height: 32px;
}

table.mc-output td span.number,
table.mc-input td span.number {
	color: #0ef;
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
	text-shadow: 2px 2px 0 #3f3f3f;
}
